.header {
    background-color: #1a3551;  
    padding: 20px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end; // Aligns the menu to the right
    margin-right: 50px;
    width: 100%; // Ensures the navbar spans the full width of the container
  }
  
  .nav-list {
    list-style-type: none;
    // margin-right: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    color: #c1a370; // gold color for text
    font-family: 'Arial, sans-serif';
    margin-right: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative; // Needed for positioning the pseudo-element
  }
  
  .nav-item::after {
    content: "";  
    position: absolute;
    right: -15px; // Adjust this value for spacing
    height: 100%;
    border-right: 3px solid #c1a370; // Gold line
   }
  
  .nav-item:last-child::after {
    border: none; // Removes the line after the last item
   }
  
  .nav-item.active {
    color: #ffffff; // white color for active item
    font-weight: bold;
  }
  
  .nav-item:hover {
    color: #ffffff; // hover effect to change color to white
  }
  