@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');
.hero-container {
  position: relative;
  width: 100%;
  min-height: 100vh; // Use min-height to ensure the container grows with content
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: #1a3551;
    opacity: 0;
    animation: slideOverlay 1s ease-in-out forwards;
    animation-delay: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow: visible; // Ensure the image zoom effect is visible
  }

  .hero-content {
    position: relative;
    z-index: 1; // Ensure the content is above the images
  }

  .logo-image {
    position: relative;
    width: 350px;  // Set the desired width
    height: 100px; // Set the desired height
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
  }
  
  .logo-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; // Add space between the main text and the dynamic text
    width: 100%; // Ensures the container takes full width
    max-width: 1200px; // Optional: set a max width for the container
    margin: 0 auto; // Center align the container
    text-align: center; // Center text horizontally
    position: relative; // Ensures the text remains in place
  }

  .logo-text {
    color: #a67c52;
    font-family: "Corben", serif;
    font-size: 40px;
    margin-right: 20px;
    font-weight: bold;
  }

  .dynamic-text {
    font-family: "Corben", serif;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff; // Adjust color if needed
  }

  .image-container {
    position: relative;
    width: 100%;
    flex: 1;
    overflow: hidden; /* Ensures content doesn't overflow */
  }

  .image-gallery {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .footer {
    width: 100%;
    text-align: center;
    background-color: #1a3551;
    color: #a67c52;
    margin-top: auto; // Pushes the footer to the bottom
    opacity: 0;
    animation: slideUpFooter 1s ease-in-out forwards;
    animation-delay: 1s;
  }
  
  @keyframes slideOverlay {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideUpFooter {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
