@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.image-container {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden; /* Ensures content doesn't overflow */
}

.overlay {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: #1a3551;
  opacity: 0;
  animation: slideOverlay 2s ease-in-out forwards;
  animation-delay: 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.center-top-image {
  width: auto;
  height: 150px;
  margin-bottom: 20px;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20 30px;
  box-sizing: border-box;
}

.left-text {
  color: #a67c52;
  font-family: "Corben", serif;
  font-size: 50px;
  margin-left: 130px;
  transform: translateX(100px);}

.right-text {
  color: white;
  font-family: "Corben", serif;
  font-weight: 700;

  transform: translate(760px, -94px);
  font-size: 50px;
  margin-right: 50px;
  transition: opacity 0.5s ease-in-out;
}

.image-gallery {
  position: absolute;
  bottom: 1%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  box-sizing: border-box;
  
}
.im1{
  width: 20%;
  height: 200px;
}

.footer {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #1a3551;
  color: #a67c52;
  padding: 20px 0;
  opacity: 0;
  animation: slideUpFooter 2s ease-in-out forwards;
  animation-delay: 3s;
}

.text-white {
  color: white;
}

@keyframes slideOverlay {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpFooter {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .left-text {
    font-size: 30px;
    margin-left: -90px;
    /* text-align: center; */
  }

  .right-text {
    font-size: 30px;
    margin-right: 20px;
    text-align: center;
    transform: translate(10px, 4px);
   }

  .image-gallery {
    flex-direction: column;
    transform: translate(-30px, -154px);
    height:100px;

    width:50px;
    
  }
  
  
  .im1{
    
    transform: translate(50px, 54px);

  }
  .im2{
     transform: translate(290px, -104px);
    
      
  }

  .center-top-image {
    height: 100px;
  }

  .footer {
    font-size: 14px;
    padding: 10px 0;
  }
}
