.container {
    text-align: center;
    margin: 18px;
  
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    // Add specific width and height to the chart container
    .chart-container {
      width:55%; /* Adjust the width to your preference */
      height: 400px; /* Adjust the height to your preference */
      margin: 0 auto; /* Center the chart */
    }
  }
  
  .controls {
    margin-bottom: 20px;
    label {
      display: block;
      margin: 10px;
      font-size: 16px;
    }
    input[type='date'] {
      margin: 0 5px;
      padding: 5px;
    }
  }
  
  .labels {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    span {
      font-weight: bold;
    }
  }
  