.jobTable {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  
    table {
      width: 100%;
      border: 1px solid #e0e0e0;
  
      th, td {
        padding: 8px 15px;
        text-align: center;
        border-bottom: 1px solid #261ac2;
        vertical-align: middle;
        font-family: 'Arial', sans-serif;
  
        // Add some subtle text effects
        font-size: 15px;
        line-height: 1.6;
      }
  
      th {
        background-color: #5d16e2;
        border-radius: 5px;
        font-weight: 400;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }
  
      td {
        color: #555;
      }
  
      tr {
        transition: background-color 0.3s ease-in-out;
  
        &:hover {
          background-color: #fafafa;
        }
      }
  
      .clickable-jobId {
        color: #007bff;
        cursor: pointer;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.2s, background-color 0.3s;
  
        &:hover {
          color: #0056b3;
          background-color: #f0f8ff;
        }
      }
    }
  
    // Add responsiveness for smaller screens
    @media (max-width: 768px) {
      table {
        th, td {
          padding: 10px 12px;
          font-size: 14px;
        }
      }
    }
  }
  .filter-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  
    label {
      margin-right: 10px;
      font-weight: bold;
    }
  
    select {
      padding: 5px;
      font-size: 16px;
    }
  }
  